In [1]:
import numpy as np
import pandas as pd
from datetime import datetime, timedelta
import urllib.request
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# grab data set from url *multipul updates each day make sure we are on current tab....

cv_data = pd.read_html('https://docs.google.com/spreadsheets/d/1wQVypefm946ch4XDp37uZ-wartW4V7ILdg-qYiDXUHM/htmlview?usp=sharing&sle=true#')

In [3]:
#combine all tabs from data set
cv_data =pd.concat(cv_data)
cv_data

/Users/jordanpatton/opt/anaconda3/envs/vizenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

,A,B,C,D,E,F,G,H,I,Unnamed: 0
0,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,NaN,NaN,NaN,1
1,Hubei,Mainland China,2/5/20 16:43,16678,479,538,NaN,NaN,NaN,2
2,Guangdong,Mainland China,2/5/20 13:23,895,0,49,NaN,NaN,NaN,3
3,Zhejiang,Mainland China,2/5/20 15:13,895,0,78,NaN,NaN,NaN,4
4,Henan,Mainland China,2/5/20 15:03,764,2,47,NaN,NaN,NaN,5
...,...,...,...,...,...,...,...,...,...,...
23,Heilongjiang,China,1/21/2020,NaN,1,NaN,NaN,NaN,NaN,24
24,NaN,Japan,1/21/2020,1,NaN,NaN,NaN,NaN,NaN,25
25,NaN,Thailand,1/21/2020,2,NaN,NaN,NaN,NaN,NaN,26
26,NaN,South Korea,1/21/2020,1,NaN,NaN,NaN,NaN,NaN,27
27,Washington,United States,1/21/2020,1,NaN,NaN,NaN,NaN,NaN,28

In [4]:

#remove Strings from 1st row
cv_data.drop([0], inplace=True)
cv_data

,A,B,C,D,E,F,G,H,I,Unnamed: 0
1,Hubei,Mainland China,2/5/20 16:43,16678,479,538,NaN,NaN,NaN,2
2,Guangdong,Mainland China,2/5/20 13:23,895,0,49,NaN,NaN,NaN,3
3,Zhejiang,Mainland China,2/5/20 15:13,895,0,78,NaN,NaN,NaN,4
4,Henan,Mainland China,2/5/20 15:03,764,2,47,NaN,NaN,NaN,5
5,Hunan,Mainland China,2/5/20 15:23,661,0,54,NaN,NaN,NaN,6
...,...,...,...,...,...,...,...,...,...,...
23,Heilongjiang,China,1/21/2020,NaN,1,NaN,NaN,NaN,NaN,24
24,NaN,Japan,1/21/2020,1,NaN,NaN,NaN,NaN,NaN,25
25,NaN,Thailand,1/21/2020,2,NaN,NaN,NaN,NaN,NaN,26
26,NaN,South Korea,1/21/2020,1,NaN,NaN,NaN,NaN,NaN,27
27,Washington,United States,1/21/2020,1,NaN,NaN,NaN,NaN,NaN,28

In [5]:
#drop "Unnamed:0"

#cv_data =cv_data.drop(columns=['Unnamed: 0','G','H','I'], inplace=True)

#cv_data

#rename columns in dataframe

cv_data = cv_data.rename(columns={
    'A':'Province/State',
    'B':'Country/Region',
    'C':'Last_Update',
    'D':'Infected',
    'E':'Deaths',
    'F':'Recovered',
    
})

In [6]:
cv_data.head()

,Province/State,Country/Region,Last_Update,Infected,Deaths,Recovered,G,H,I,Unnamed: 0
1,Hubei,Mainland China,2/5/20 16:43,16678,479,538,NaN,NaN,NaN,2
2,Guangdong,Mainland China,2/5/20 13:23,895,0,49,NaN,NaN,NaN,3
3,Zhejiang,Mainland China,2/5/20 15:13,895,0,78,NaN,NaN,NaN,4
4,Henan,Mainland China,2/5/20 15:03,764,2,47,NaN,NaN,NaN,5
5,Hunan,Mainland China,2/5/20 15:23,661,0,54,NaN,NaN,NaN,6

In [7]:
#set index

cv_data =cv_data.set_index('Last_Update')

cv_data

,Province/State,Country/Region,Infected,Deaths,Recovered,G,H,I,Unnamed: 0
Last_Update,,,,,,,,,
2/5/20 16:43,Hubei,Mainland China,16678,479,538,NaN,NaN,NaN,2
2/5/20 13:23,Guangdong,Mainland China,895,0,49,NaN,NaN,NaN,3
2/5/20 15:13,Zhejiang,Mainland China,895,0,78,NaN,NaN,NaN,4
2/5/20 15:03,Henan,Mainland China,764,2,47,NaN,NaN,NaN,5
2/5/20 15:23,Hunan,Mainland China,661,0,54,NaN,NaN,NaN,6
...,...,...,...,...,...,...,...,...,...
1/21/2020,Heilongjiang,China,NaN,1,NaN,NaN,NaN,NaN,24
1/21/2020,NaN,Japan,1,NaN,NaN,NaN,NaN,NaN,25
1/21/2020,NaN,Thailand,2,NaN,NaN,NaN,NaN,NaN,26
1/21/2020,NaN,South Korea,1,NaN,NaN,NaN,NaN,NaN,27
1/21/2020,Washington,United States,1,NaN,NaN,NaN,NaN,NaN,28

In [8]:
#drop "Unnamed:0"

cv_data =cv_data.drop(columns=['Unnamed: 0','G','H','I'], inplace=False)

In [9]:
cv_data

             Province/State  Country/Region Infected Deaths Recovered
Last_Update
2/5/20 16:43          Hubei  Mainland China    16678    479       538
2/5/20 13:23      Guangdong  Mainland China      895      0        49
2/5/20 15:13       Zhejiang  Mainland China      895      0        78
2/5/20 15:03          Henan  Mainland China      764      2        47
2/5/20 15:23          Hunan  Mainland China      661      0        54
...                     ...             ...      ...    ...       ...
1/21/2020      Heilongjiang           China      NaN      1       NaN
1/21/2020               NaN           Japan        1    NaN       NaN
1/21/2020               NaN        Thailand        2    NaN       NaN
1/21/2020               NaN     South Korea        1    NaN       NaN
1/21/2020        Washington   United States        1    NaN       NaN

[1877 rows x 5 columns]

In [10]:
cv_data.isnull()

              Province/State  Country/Region  Infected  Deaths  Recovered
Last_Update
2/5/20 16:43           False           False     False   False      False
2/5/20 13:23           False           False     False   False      False
2/5/20 15:13           False           False     False   False      False
2/5/20 15:03           False           False     False   False      False
2/5/20 15:23           False           False     False   False      False
...                      ...             ...       ...     ...        ...
1/21/2020              False           False      True   False       True
1/21/2020               True           False     False    True       True
1/21/2020               True           False     False    True       True
1/21/2020               True           False     False    True       True
1/21/2020              False           False     False    True       True

[1877 rows x 5 columns]

In [11]:
cv_data.dropna(inplace=True)
cv_data

                   Province/State  Country/Region Infected Deaths Recovered
Last_Update
2/5/20 16:43                Hubei  Mainland China    16678    479       538
2/5/20 13:23            Guangdong  Mainland China      895      0        49
2/5/20 15:13             Zhejiang  Mainland China      895      0        78
2/5/20 15:03                Henan  Mainland China      764      2        47
2/5/20 15:23                Hunan  Mainland China      661      0        54
...                           ...             ...      ...    ...       ...
1/25/2020 12:00 PM       Shanghai  Mainland China       40     72         1
1/25/2020 12:00 PM       Shanghai  Mainland China       33     72         1
1/25/2020 12:00 AM       Shanghai  Mainland China       33     22         1
1/24/2020 12:00 PM       Shanghai  Mainland China       20     22         1
1/23/20 12:00 PM        Guangdong  Mainland China       32      1         2

[596 rows x 5 columns]

In [12]:
cv_data.isnull().sum()
cv_data.head()

#cv_data['ratio']= cv_data['Deaths']/ cv_data['Confirmed']

cv_data.dtypes

Province/State    object
Country/Region    object
Infected          object
Deaths            object
Recovered         object
dtype: object

In [13]:
# change types from object to int.
#people_df['Person_ID'] = people_df['Person_ID'].astype('int')

cv_data['Infected'] = cv_data['Infected'].astype('int')
cv_data['Deaths'] = cv_data['Deaths'].astype('int')
cv_data['Recovered'] = cv_data['Recovered'].astype('int')

cv_data

                   Province/State  Country/Region  Infected  Deaths  Recovered
Last_Update
2/5/20 16:43                Hubei  Mainland China     16678     479        538
2/5/20 13:23            Guangdong  Mainland China       895       0         49
2/5/20 15:13             Zhejiang  Mainland China       895       0         78
2/5/20 15:03                Henan  Mainland China       764       2         47
2/5/20 15:23                Hunan  Mainland China       661       0         54
...                           ...             ...       ...     ...        ...
1/25/2020 12:00 PM       Shanghai  Mainland China        40      72          1
1/25/2020 12:00 PM       Shanghai  Mainland China        33      72          1
1/25/2020 12:00 AM       Shanghai  Mainland China        33      22          1
1/24/2020 12:00 PM       Shanghai  Mainland China        20      22          1
1/23/20 12:00 PM        Guangdong  Mainland China        32       1          2

[596 rows x 5 columns]

In [14]:
#Find ratio of deaths to confirmed effected

cv_data['death_ratio']= cv_data['Deaths']/ cv_data['Infected']

cv_data['recovered_ratio'] =cv_data['Recovered']/ cv_data['Infected']

In [15]:
cv_data.head()

,Province/State,Country/Region,Infected,Deaths,Recovered,death_ratio,recovered_ratio
Last_Update,,,,,,,
2/5/20 16:43,Hubei,Mainland China,16678,479,538,0.028720,0.032258
2/5/20 13:23,Guangdong,Mainland China,895,0,49,0.000000,0.054749
2/5/20 15:13,Zhejiang,Mainland China,895,0,78,0.000000,0.087151
2/5/20 15:03,Henan,Mainland China,764,2,47,0.002618,0.061518
2/5/20 15:23,Hunan,Mainland China,661,0,54,0.000000,0.081694

In [16]:
#round decimals .000 
decimals =pd.Series ([3,3], index=['death_ratio', 'recovered_ratio'])
cv_data.round(decimals)

,Province/State,Country/Region,Infected,Deaths,Recovered,death_ratio,recovered_ratio
Last_Update,,,,,,,
2/5/20 16:43,Hubei,Mainland China,16678,479,538,0.029,0.032
2/5/20 13:23,Guangdong,Mainland China,895,0,49,0.000,0.055
2/5/20 15:13,Zhejiang,Mainland China,895,0,78,0.000,0.087
2/5/20 15:03,Henan,Mainland China,764,2,47,0.003,0.062
2/5/20 15:23,Hunan,Mainland China,661,0,54,0.000,0.082
...,...,...,...,...,...,...,...
1/25/2020 12:00 PM,Shanghai,Mainland China,40,72,1,1.800,0.025
1/25/2020 12:00 PM,Shanghai,Mainland China,33,72,1,2.182,0.030
1/25/2020 12:00 AM,Shanghai,Mainland China,33,22,1,0.667,0.030
1/24/2020 12:00 PM,Shanghai,Mainland China,20,22,1,1.100,0.050
1/23/20 12:00 PM,Guangdong,Mainland China,32,1,2,0.031,0.062

In [17]:
cv_data[['Province/State']].duplicated()

Last_Update
2/5/20 16:43          False
2/5/20 13:23          False
2/5/20 15:13          False
2/5/20 15:03          False
2/5/20 15:23          False
                      ...
1/25/2020 12:00 PM     True
1/25/2020 12:00 PM     True
1/25/2020 12:00 AM     True
1/24/2020 12:00 PM     True
1/23/20 12:00 PM       True
Length: 596, dtype: bool

In [18]:
#create a for loop to clean up duplicates for each day and get a running total for that days end.
#just use cumprod feature?
cv_data_days= cv_data.drop_duplicates(subset=['Province/State'], inplace=False)

In [19]:
cv_data_days

,Province/State,Country/Region,Infected,Deaths,Recovered,death_ratio,recovered_ratio
Last_Update,,,,,,,
2/5/20 16:43,Hubei,Mainland China,16678,479,538,0.028720,0.032258
2/5/20 13:23,Guangdong,Mainland China,895,0,49,0.000000,0.054749
2/5/20 15:13,Zhejiang,Mainland China,895,0,78,0.000000,0.087151
2/5/20 15:03,Henan,Mainland China,764,2,47,0.002618,0.061518
2/5/20 15:23,Hunan,Mainland China,661,0,54,0.000000,0.081694
2/5/20 1:33,Jiangxi,Mainland China,548,0,27,0.000000,0.049270
2/5/20 13:43,Anhui,Mainland China,530,0,23,0.000000,0.043396
2/5/20 9:13,Chongqing,Mainland China,376,2,15,0.005319,0.039894
2/5/20 12:43,Jiangsu,Mainland China,341,0,23,0.000000,0.067449
2/5/20 10:13,Shandong,Mainland China,307,0,15,0.000000,0.048860
2/5/20 10:13,Sichuan,Mainland China,301,1,24,0.003322,0.079734
2/5/20 5:43,Beijing,Mainland China,253,1,24,0.003953,0.094862
2/5/20 6:23,Shanghai,Mainland China,243,1,15,0.004115,0.061728
2/5/20 12:33,Fujian,Mainland China,205,0,11,0.000000,0.053659
2/5/20 12:13,Heilongjiang,Mainland China,190,2,7,0.010526,0.036842
2/5/20 8:43,Shaanxi,Mainland China,165,0,6,0.000000,0.036364
2/5/20 12:03,Guangxi,Mainland China,150,0,13,0.000000,0.086667
2/5/20 11:23,Hebei,Mainland China,135,1,6,0.007407,0.044444
2/5/20 7:43,Yunnan,Mainland China,124,0,5,0.000000,0.040323
2/5/20 16:43,Hainan,Mainland China,99,1,5,0.010101,0.050505
2/5/20 15:23,Liaoning,Mainland China,89,0,4,0.000000,0.044944
2/5/20 15:23,Shanxi,Mainland China,81,0,5,0.000000,0.061728
2/5/20 3:43,Tianjin,Mainland China,69,1,2,0.014493,0.028986
2/5/20 12:33,Guizhou,Mainland China,64,1,9,0.015625,0.140625
2/5/20 16:23,Gansu,Mainland China,62,0,6,0.000000,0.096774
2/5/20 11:03,Jilin,Mainland China,54,0,2,0.000000,0.037037
2/5/20 8:53,Inner Mongolia,Mainland China,42,0,3,0.000000,0.071429
2/4/20 2:13,Ningxia,Mainland China,34,0,1,0.000000,0.029412
2/5/20 2:03,Xinjiang,Mainland China,32,0,0,0.000000,0.000000
2/5/20 13:13,Hong Kong,Hong Kong,21,1,0,0.047619,0.000000
2/5/20 3:13,Qinghai,Mainland China,17,0,3,0.000000,0.176471
2/4/20 14:53,Taiwan,Taiwan,11,0,0,0.000000,0.000000
2/4/20 4:43,Macau,Macau,10,0,0,0.000000,0.000000
2/1/20 18:12,New South Wales,Australia,4,0,2,0.000000,0.500000
2/1/20 18:12,Victoria,Australia,4,0,0,0.000000,0.000000
2/4/20 16:53,Queensland,Australia,3,0,0,0.000000,0.000000
2/2/20 22:33,South Australia,Australia,2,0,0,0.000000,0.000000
2/4/20 0:13,"Toronto, ON",Canada,2,0,0,0.000000,0.000000
2/1/20 19:43,"Chicago, IL",US,2,0,0,0.000000,0.000000
2/3/20 3:53,"San Benito, CA",US,2,0,0,0.000000,0.000000
2/3/20 0:43,"Santa Clara, CA",US,2,0,0,0.000000,0.000000
2/1/20 18:12,British Columbia,Canada,1,0,0,0.000000,0.000000
2/4/20 0:03,"London, ON",Canada,1,0,0,0.000000,0.000000
2/1/20 1:52,Tibet,Mainland China,1,0,0,0.000000,0.000000
2/1/20 19:43,"Boston, MA",US,1,0,0,0.000000,0.000000
2/1/20 19:53,"Los Angeles, CA",US,1,0,0,0.000000,0.000000
2/1/20 19:53,"Orange, CA",US,1,0,0,0.000000,0.000000
2/1/20 19:43,"Seattle, WA",US,1,0,0,0.000000,0.000000
2/1/20 19:43,"Tempe, AZ",US,1,0,0,0.000000,0.000000
2/1/2020 18:12,Ontario,Canada,3,0,0,0.000000,0.000000

In [20]:
cv_data_days['Deaths'].sum()

493

In [21]:
#import Corona CSV to concat past data in with continuing data.

from pathlib import Path

cv_csv = Path("Resources/coronavirus_cases.csv")
df_cv = pd.read_csv(cv_csv)
df_cv.set_index(pd.to_datetime(df_cv['Date'], infer_datetime_format=True), inplace=True)
df_cv.drop(columns=['Date'], inplace=True)
df_cv.sort_index(ascending=False, inplace=True)
df_cv

            Deaths  Confirmed_Infected  Unnamed: 3
Date
2020-02-04   414.0               20588         NaN
2020-02-03   414.0               20197         NaN
2020-02-02   350.0               17295         NaN
2020-02-01   249.0               12024         NaN
2020-01-31   249.0               11373         NaN
2020-01-30   162.0                8235         NaN
2020-01-29   162.0                7785         NaN
2020-01-28   125.0                6057         NaN
2020-01-27   100.0                4473         NaN
2020-01-26    76.0                2794         NaN
2020-01-25    52.0                2014         NaN
2020-01-24    24.0                 941         NaN
2020-01-23     NaN                 654         NaN
2020-01-22     NaN                 555         NaN
2020-01-21     NaN                 331         NaN

In [22]:
#eliminate country/region columns from cv_data
cv_data_days.drop(columns=['Province/State','Country/Region'], inplace=True)

/Users/jordanpatton/opt/anaconda3/envs/vizenv/lib/python3.7/site-packages/pandas/core/frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [23]:
cv_data_days

                Infected  Deaths  Recovered  death_ratio  recovered_ratio
Last_Update
2/5/20 16:43       16678     479        538     0.028720         0.032258
2/5/20 13:23         895       0         49     0.000000         0.054749
2/5/20 15:13         895       0         78     0.000000         0.087151
2/5/20 15:03         764       2         47     0.002618         0.061518
2/5/20 15:23         661       0         54     0.000000         0.081694
2/5/20 1:33          548       0         27     0.000000         0.049270
2/5/20 13:43         530       0         23     0.000000         0.043396
2/5/20 9:13          376       2         15     0.005319         0.039894
2/5/20 12:43         341       0         23     0.000000         0.067449
2/5/20 10:13         307       0         15     0.000000         0.048860
2/5/20 10:13         301       1         24     0.003322         0.079734
2/5/20 5:43          253       1         24     0.003953         0.094862
2/5/20 6:23          243       1         15     0.004115         0.061728
2/5/20 12:33         205       0         11     0.000000         0.053659
2/5/20 12:13         190       2          7     0.010526         0.036842
2/5/20 8:43          165       0          6     0.000000         0.036364
2/5/20 12:03         150       0         13     0.000000         0.086667
2/5/20 11:23         135       1          6     0.007407         0.044444
2/5/20 7:43          124       0          5     0.000000         0.040323
2/5/20 16:43          99       1          5     0.010101         0.050505
2/5/20 15:23          89       0          4     0.000000         0.044944
2/5/20 15:23          81       0          5     0.000000         0.061728
2/5/20 3:43           69       1          2     0.014493         0.028986
2/5/20 12:33          64       1          9     0.015625         0.140625
2/5/20 16:23          62       0          6     0.000000         0.096774
2/5/20 11:03          54       0          2     0.000000         0.037037
2/5/20 8:53           42       0          3     0.000000         0.071429
2/4/20 2:13           34       0          1     0.000000         0.029412
2/5/20 2:03           32       0          0     0.000000         0.000000
2/5/20 13:13          21       1          0     0.047619         0.000000
2/5/20 3:13           17       0          3     0.000000         0.176471
2/4/20 14:53          11       0          0     0.000000         0.000000
2/4/20 4:43           10       0          0     0.000000         0.000000
2/1/20 18:12           4       0          2     0.000000         0.500000
2/1/20 18:12           4       0          0     0.000000         0.000000
2/4/20 16:53           3       0          0     0.000000         0.000000
2/2/20 22:33           2       0          0     0.000000         0.000000
2/4/20 0:13            2       0          0     0.000000         0.000000
2/1/20 19:43           2       0          0     0.000000         0.000000
2/3/20 3:53            2       0          0     0.000000         0.000000
2/3/20 0:43            2       0          0     0.000000         0.000000
2/1/20 18:12           1       0          0     0.000000         0.000000
2/4/20 0:03            1       0          0     0.000000         0.000000
2/1/20 1:52            1       0          0     0.000000         0.000000
2/1/20 19:43           1       0          0     0.000000         0.000000
2/1/20 19:53           1       0          0     0.000000         0.000000
2/1/20 19:53           1       0          0     0.000000         0.000000
2/1/20 19:43           1       0          0     0.000000         0.000000
2/1/20 19:43           1       0          0     0.000000         0.000000
2/1/2020 18:12         3       0          0     0.000000         0.000000

In [24]:
cv_data_days['Infected'].sum()

24478

In [25]:
cv_data_days['Deaths'].sum()

493

In [26]:
#add totals of columns together for their individual daily total to be added to df daily
#then concat with df_cv, drop nulls, duplicates values
#bin death ratio with stock sell off and again with recovery ratio (daily) gives us two signals *when to sell when to buy