In [65]:
from tiingo import TiingoClient
import os
from datetime import datetime, timedelta
import pandas as pd
import json
%matplotlib inline

In [47]:
tiingo = os.getenv('TIINGO_API_KEY')

In [48]:
client = TiingoClient()

In [53]:
start = datetime.strptime('2019-12-01', '%Y-%m-%d')
end = datetime.now()

In [106]:
china_ticker_df = client.get_dataframe(['ASHR','CQQQ', 'CHIE', 'CHIM', 'KURE', 'CHIS'],
                                            metric_name='close',
                                            startDate= start,
                                            endDate= end,
                                            frequency='daily')

C:\Users\selva\Anaconda3\lib\site-packages\tiingo\api.py:270: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  prices = pd.concat([prices, df[stock]], axis=1)

In [108]:
china_ticker_df.head()

                            ASHR    CQQQ    CHIE    CHIM     KURE     CHIS
date
2019-12-02 00:00:00+00:00  27.43  49.860  10.125  15.045  21.8970  21.2614
2019-12-03 00:00:00+00:00  27.42  49.510  10.000  14.895  21.8410  21.0850
2019-12-04 00:00:00+00:00  27.77  49.595  10.035  15.150  22.1499  21.4000
2019-12-05 00:00:00+00:00  27.89  50.440   9.865  15.120  22.4179  21.4622
2019-12-06 00:00:00+00:00  28.18  50.810  10.040  15.255  22.6872  21.6789

In [110]:
china_daily_returns = china_ticker_df.pct_change()
china_daily_returns.head()

,ASHR,CQQQ,CHIE,CHIM,KURE,CHIS
date,,,,,,
2019-12-02 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN
2019-12-03 00:00:00+00:00,-0.000365,-0.007020,-0.012346,-0.009970,-0.002557,-0.008297
2019-12-04 00:00:00+00:00,0.012764,0.001717,0.003500,0.017120,0.014143,0.014940
2019-12-05 00:00:00+00:00,0.004321,0.017038,-0.016941,-0.001980,0.012099,0.002907
2019-12-06 00:00:00+00:00,0.010398,0.007335,0.017739,0.008929,0.012013,0.010097

In [ ]:
us_ticker_df = client.get_dataframe(['SP500','', '', '', '', ''],
                                            metric_name='close',
                                            startDate= start,
                                            endDate= end,
                                            frequency='daily')