In [1]:
# Import Libraries and Dependencies 
import pandas as pd
import numpy as np 
import os
import json
from pathlib import Path
from datetime import datetime, timedelta
from tiingo import TiingoClient
%matplotlib inline

In [2]:
# Bring Env Variables into Python/Store in Variable
tiingo = os.getenv('TIINGO_API_KEY')

In [3]:
# Create a Client to Connect to Tiingo
client = TiingoClient()

# Data Collection for China Stocks

In [4]:
# Create Start and End Dates for 1 Year's Worth of Historical Data
end = datetime.now()
start = end + timedelta(-365)

In [5]:
# Create DataFrames for China
china_ticker_df = client.get_dataframe(['ASHR','CQQQ', 'CHIE', 'CHIM', 'KURE', 'CHIS'],
                                            metric_name='close',
                                            startDate= start,
                                            endDate= end,
                                            frequency='daily')

C:\Users\selva\Anaconda3\lib\site-packages\tiingo\api.py:270: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  prices = pd.concat([prices, df[stock]], axis=1)

In [6]:
china_df = china_ticker_df.rename(columns={'CQQQ':'CQQQ (Technology)', 'CHIE':'CHIE (Energy)', 'CHIM':'CHIM (Materials)', 'KURE':'KURE (Healthcare)', 'CHIS':'CHIS (Consumer Staples)'})
china_df.head()

,ASHR,CQQQ (Technology),CHIE (Energy),CHIM (Materials),KURE (Healthcare),CHIS (Consumer Staples)
date,,,,,,
2019-02-08 00:00:00+00:00,23.81,44.66,11.3900,15.9500,18.8522,16.0625
2019-02-11 00:00:00+00:00,24.45,45.21,11.4950,16.0050,19.3500,16.3634
2019-02-12 00:00:00+00:00,24.66,45.90,11.4900,15.9900,19.8750,16.4648
2019-02-13 00:00:00+00:00,25.16,46.17,11.6091,16.2909,20.1250,16.6352
2019-02-14 00:00:00+00:00,25.18,45.95,11.7400,16.2700,20.3500,16.7906

In [7]:
# Count/Drop Nulls (if any)
china_df.isnull().sum()

#china_df.dropna(inplace=True)
#china_df.isnull().sum()

ASHR                       0
CQQQ (Technology)          0
CHIE (Energy)              0
CHIM (Materials)           0
KURE (Healthcare)          0
CHIS (Consumer Staples)    0
dtype: int64

# Monte Carlo Simulation

In [8]:
# Calculate the Daily Returns for China Stocks
china_daily_returns = china_df.pct_change()
china_daily_returns.head()

,ASHR,CQQQ (Technology),CHIE (Energy),CHIM (Materials),KURE (Healthcare),CHIS (Consumer Staples)
date,,,,,,
2019-02-08 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN
2019-02-11 00:00:00+00:00,0.026879,0.012315,0.009219,0.003448,0.026405,0.018733
2019-02-12 00:00:00+00:00,0.008589,0.015262,-0.000435,-0.000937,0.027132,0.006197
2019-02-13 00:00:00+00:00,0.020276,0.005882,0.010366,0.018818,0.012579,0.010349
2019-02-14 00:00:00+00:00,0.000795,-0.004765,0.011276,-0.001283,0.011180,0.009342

In [9]:
# Calculate the Value of Average Daily Returns
##avg_daily_returns_ashr = china_daily_returns.mean()['ASHR']
avg_daily_returns_cqqq = china_daily_returns.mean()['CQQQ (Technology)']
avg_daily_returns_chie = china_daily_returns.mean()['CHIE (Energy)']
avg_daily_returns_chim = china_daily_returns.mean()['CHIM (Materials)']
avg_daily_returns_kure = china_daily_returns.mean()['KURE (Healthcare)']
avg_daily_returns_chis = china_daily_returns.mean()['CHIS (Consumer Staples)']

In [10]:
# Calculate the Standard Deviation 
##std_daily_returns_ashr = china_daily_returns.std()['ASHR']
std_daily_returns_cqqq = china_daily_returns.std()['CQQQ (Technology)']
std_daily_returns_chie = china_daily_returns.std()['CHIE (Energy)']
std_daily_returns_chim = china_daily_returns.std()['CHIM (Materials)']
std_daily_returns_kure = china_daily_returns.std()['KURE (Healthcare)']
std_daily_returns_chis = china_daily_returns.std()['CHIS (Consumer Staples)']

In [11]:
# Save the Last Day's Closing Price
##ashr_last_price = china_df['ASHR'][-1]
cqqq_last_price = china_df['CQQQ (Technology)'][-1]
chie_last_price = china_df['CHIE (Energy)'][-1]
chim_last_price = china_df['CHIM (Materials)'][-1]
kure_last_price = china_df['KURE (Healthcare)'][-1]
chis_last_price = china_df['CHIS (Consumer Staples)'][-1]

In [12]:
# Setup the Monte Carlo Parameters
number_simulations = 500
number_records = 252
monte_carlo = pd.DataFrame()
portfolio_cumulative_returns = pd.DataFrame()

In [ ]:
# Run the Monte Carlo Simulation
for x in range (number_simulations):
    ##simulated_ashr_prices = [ashr_last_price]
    simulated_cqqq_prices = [cqqq_last_price]
    simulated_chie_prices = [chie_last_price]
    simulated_chim_prices = [chim_last_price]
    simulated_kure_prices = [kure_last_price]
    simulated_chis_prices = [chis_last_price]
    
    for y in range (number_records):
        ##simulated_ashr_price = simulated_ashr_prices[-1] * (1 + np.random.normal(avg_daily_returns_ashr, std_daily_returns_ashr))
        simulated_cqqq_price = simulated_cqqq_prices[-1] * (1 + np.random.normal(avg_daily_returns_cqqq, std_daily_returns_cqqq))
        simulated_chie_price = simulated_chie_prices[-1] * (1 + np.random.normal(avg_daily_returns_chie, std_daily_returns_chie))
        simulated_chim_price = simulated_chim_prices[-1] * (1 + np.random.normal(avg_daily_returns_chim, std_daily_returns_chim))
        simulated_kure_price = simulated_kure_prices[-1] * (1 + np.random.normal(avg_daily_returns_kure, std_daily_returns_kure))
        simulated_chis_price = simulated_chis_prices[-1] * (1 + np.random.normal(avg_daily_returns_chis, std_daily_returns_chis))
       
        ##simulated_ashr_prices.append(simulated_ashr_price)
        simulated_cqqq_prices.append(simulated_cqqq_price)
        simulated_chie_prices.append(simulated_chie_price)
        simulated_chim_prices.append(simulated_chim_price)
        simulated_kure_prices.append(simulated_kure_price)
        simulated_chis_prices.append(simulated_chis_price)
    
    ##monte_carlo['ASHR prices'] = pd.Series(simulated_ashr_prices)
    monte_carlo['CQQQ (Technology) prices'] = pd.Series(simulated_cqqq_prices)
    monte_carlo['CHIE (Energy) prices'] = pd.Series(simulated_chie_prices)
    monte_carlo['CHIM (Materials) prices'] = pd.Series(simulated_chim_prices)
    monte_carlo['KURE (Healthcare) prices'] = pd.Series(simulated_kure_prices)
    monte_carlo['CHIS (Consumer Staples) prices'] = pd.Series(simulated_chis_prices)
    
    simulated_china_daily_returns = monte_carlo.pct_change()
    
    weights = [0.2, 0.2, 0.2, 0.2, 0.2]
    china_portfolio_daily_returns = simulated_china_daily_returns.dot(weights)
    
    portfolio_cumulative_returns[x] = (1 + china_portfolio_daily_returns.fillna(0)).cumprod() - 1
portfolio_cumulative_returns.head()

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.002299,-0.002964,-0.002475,-0.004269,-0.000287,0.004159,-0.002765,-0.002724,0.000887,0.002433,...,0.001523,0.000581,0.002460,0.002990,-0.004374,-0.003234,0.005549,0.003859,-0.002191,0.000493
2,0.011754,-0.013980,0.001713,-0.007384,0.005003,0.009228,0.006737,-0.001623,-0.008382,0.007260,...,0.003683,0.005374,-0.008076,-0.005352,-0.005402,0.005154,0.013874,0.007008,-0.005606,-0.006053
3,0.014035,-0.018880,0.004375,-0.007351,0.011185,-0.000032,0.015616,-0.007605,0.000201,0.004326,...,0.018989,-0.001132,-0.016890,-0.007244,-0.003319,0.001706,0.006645,0.001560,-0.014452,-0.008426
4,0.015204,-0.011407,0.013022,-0.010852,0.018573,0.003484,0.020395,0.003471,-0.001825,0.012063,...,0.014271,-0.002625,-0.015807,-0.003778,0.009378,0.006019,0.013743,-0.007621,-0.016926,-0.004017

In [ ]:
# Visualize the Simulation
plot_title = f"{number_simulations} Simulations of China's Cumulative Portfolio Return Trajectories Over the Next {number_records} Trading Days"
portfolio_cumulative_returns.plot(legend=None, title=plot_title, figsize=(15,10))